body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

.main {
    width: 64em;
    margin: 0 auto;
}

.social a {
    text-decoration: none;
}

.nav-toggle a {
    font-size: 32px;
    font-family: $main-font;
    color: $font-color;
}

.nav {
    justify-content: center;
    font-size: 32px;
    font-family: $main-font;
    color: $font-color;
}

.nav a {
    color: $font-color;
    font-family: 'Arial', sans-serif; 
    text-decoration: none;
    border: 2px solid transparent; 
    padding: 5px; 
    display: inline-block; 
}

.nav a:hover {
    font-family: 'Arial', sans-serif; 
    text-decoration: none;
    border: 2px solid $font-color; 
    padding: 5px; 
    display: inline-block; 
    transition: border-color 1s;
}
