@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:ital@1&display=swap');


$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #445a77;
$background-alternative-color: #e0fbfc;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
