// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

$font: 'Lato', sans-serif;

$font-color: #ff9429;
$font-alternative-color: #77ff3d;
$content-color: #333;
$accent-color: #ee6c4d;
$background-color: #0d1c2e;
$background-alternative-color: #003132;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
